body{ 
    background-color: #efdfdf;
    font-family: 'Barlow', Times new roman, sans-serif;
color:cornflowerblue;
}

h1 {
    font-family: 'Barlow', sans-serif;
    color:black
    font-size: 64px;
}